body {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100%;
    background: #4a6480;
    font-family: Inter, sans-serif;
}

.form-wrap {
    font-size: 24px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    place-self: center;
    width: 600px;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    color: #eaeaea;

}

.warning {
    color: #c73f3f;
}

.necessary::after {
    color: #c73f3f;
    font-size: 23px;
    content: ' *';
}


.form-wrap label {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.form-wrap input, .form-wrap textarea {
    border: none;
    outline: none;
    background: #d5d5d5;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
}

.form-wrap button {
    max-width: 200px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    padding-top: 5px;
    background: #418bd9;
    color: white;
    border: none;
    outline: none;
    padding-bottom: 5px;
}

.form-wrap button:hover {
    background: rgba(65, 139, 217, 0.8);

}

#modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    animation: modal-congrats 3.8s ease-in-out;
}

@keyframes modal-congrats {
    0% {
        background: rgba(0, 0, 0, 0);
    }

    50% {
        background: rgba(0, 0, 0, 0.25);
    }

    100% {
        background: rgba(0, 0, 0, 0);
    }

}

@keyframes modal-movement {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

#modal-wrapper {
    animation: 3.8s modal-movement ease-in-out;
    background: white;
    border-radius: 10px;
    padding: 10px;
}